name: govet

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  id-token: write
  issues: write
  discussions: write
  packages: write
  pages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'
  pull_request:
    branches: [ main ]
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1

    - name: Set up Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version: '1.25.6'
        cache: false

    - name: Install fieldalignment
      run: go install golang.org/x/tools/go/analysis/passes/fieldalignment/cmd/fieldalignment@latest

    - name: Go Format Check
      if: github.event_name == 'pull_request' || github.event_name == 'push'
      run: test -z $(gofmt -l .)

    - name: Go Format Fix
      if: github.event_name != 'pull_request' && github.event_name != 'push'
      continue-on-error: true
      run: gofmt -s -w .

    - name: Go Vet Check
      if: github.event_name == 'pull_request' || github.event_name == 'push'
      run: go vet ./...

    - name: Go Vet Fix
      if: github.event_name != 'pull_request' && github.event_name != 'push'
      continue-on-error: true
      run: fieldalignment -fix ./...

    - name: Create Pull Request
      if: github.event_name != 'pull_request' && github.event_name != 'push'
      uses: peter-evans/create-pull-request@v8.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: "fix: apply go formatting and vet fixes"
        title: "Automated Go Formatting and Vet Fixes"
        body: "This PR applies automated formatting using gofmt and vet fixes using fieldalignment."
        branch: "auto-fixes"
