name: Go test coverage

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.1
    - name: Set up Go
      continue-on-error: true
      uses: actions/setup-go@v6.1.0
      with:
        go-version: '1.25.5'
    - name: Run tests with race detector and coverage
      run: |
          go test ./... -race -covermode=atomic -coverprofile=coverage.out
    - name: Display test coverage
      run: go tool cover -func=coverage.out

