name: Go test coverage

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.1
    - name: Set up Go
      uses: actions/setup-go@v6.1.0
      with:
        go-version: '1.25.5'
    - name: Run tests with coverage
      run: |
        go test ./... -coverprofile=cover.out -covermode=atomic -coverpkg=./...
    - name: Upload coverage
      uses: codecov/codecov-action@v5.5.1
      with:
        file: cover.out
